<!DOCTYPE html>
<html lang="en">

<head>
	<title>Drug Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' type='text/css' href='../static/style.css'>
	<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<div class="drugresult">
				<p>Unfortunately we do not have the info for that yet!</p>
			</div>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
</body>

</html>