<!DOCTYPE html>
<html lang="en">

<head>
	<title>Drug Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' type='text/css' href='../static/style.css'>
	<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<div class="drugresult">
				<h3>Heroin in Portugal</h3>
				<br>
				<p>Heroin is a List I Class A drug. Possession will lead to the drug being seized and an assessment by the Commission for the Dissuasion of Drug Abuse (CDT) which aim to treat addiction and rehabilitate the person in possession. Outcomes of the assessment could be: referral to a treatment programme, a warning, banning from certain places or meeting certain people, removal of professional licence, or sanctioning by fine (from €25 to €150), requirement to report periodically to the CDT, confiscation of personal possessions, withdrawal of the right to carry a gun, or a foreign travel ban.</p>
				<br>
				<p>People found in possession of more than 10 daily doses (1g of Heroin) will be prosecuted in court for a criminal consumption offence. This could lead to a sentence of between 4 and 12 years in prison. If the person sells drugs to fund their own consumption, this sentence is reduced to up to 3 years in prison.</p>

			</div>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
	<div id="contact form">
    <h1>Register for a newsletter!</h1>
    <form method="post" action="/signup">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="" placeholder="Your name" required="required" autofocus="autofocus" />
        <label for="email">Email Address: </label>
        <input type="email" id="email" name="email" value="" placeholder="Your email" required="required" />
        <input type="submit" value="Submit" id="submit-button" />
    </form>
</div>
</body>

</html>
